version: '3'
services:
  db:
    image: postgres:12.4
    container_name: pg-docker
    ports:
      - '5435:5432'
    environment:
      - POSTGRES_USER=mathieu
      - POSTGRES_PASSWORD=mathieu
      - POSTGRES_DB=benter
    volumes:
      - ./postgres-data:/var/lib/docker/volumes/pg_benter/data
